In [0]:
import pandas as pd
from pandas import Series, DataFrame

* Series는 index를 공유함에 있어 list와 다르다.

In [3]:
# 버전 확인
print("pandas 버전 ", pd.__version__)

pandas 버전  0.24.2

In [0]:
## 실습
## 홍길동 팀 대항 게임 5일간 점수
# score = Series([1000, 14000, 3000, 3000, 1000])

## 날짜를 인덱스로 시리즈 만들기
gildong = Series([1000, 14000, 3000, 3000, 1000],
              index = [20191005, 20191006, 20191007, 20191008, 20191009])

In [9]:
gildong

20191005     1000
20191006    14000
20191007     3000
20191008     3000
20191009     1000
dtype: int64

In [0]:
## 토토팀 5일간 점수 만들기

toto = Series([2000, 12000, 5600, 3000, 1200],
              index = [20191005, 20191006, 20191007, 20191008, 20191009])

In [11]:
toto

20191005     2000
20191006    12000
20191007     5600
20191008     3000
20191009     1200
dtype: int64

In [18]:
pd.DataFrame({'date' : [20191005, 20191006, 20191007, 20191008, 20191009],
              'gildong' : [1000, 14000, 3000, 3000, 1000],
              'toto' : [2000, 12000, 5600, 3000, 1200]})

       date  gildong   toto
0  20191005     1000   2000
1  20191006    14000  12000
2  20191007     3000   5600
3  20191008     3000   3000
4  20191009     1000   1200

In [0]:
A = {'gildong' : [1000, 14000, 3000, 3000, 1000],
              'toto' : [2000, 12000, 5600, 3000, 1200],
              'apple' : [4000, 5000, 6000, 5500, 4500],
              'catanddog' : [7000, 5000, 3000, 5000, 4000]}

In [0]:
A = DataFrame(A)

In [107]:
A

   gildong   toto  apple  catanddog
0     1000   2000   4000       7000
1    14000  12000   5000       5000
2     3000   5600   6000       3000
3     3000   3000   5500       5000
4     1000   1200   4500       4000

In [0]:
A = A.set_index('date')

In [0]:
a =A.sum(axis=1)

In [0]:
B = pd.DataFrame({'gildong' : [1000, 14000, 3000, 3000, 1000],
              'toto' : [2000, 12000, 5600, 3000, 1200],
              'apple' : [4000, 5000, 6000, 5500, 4500],
              'catanddog' : [7000, 5000, 3000, 5000, 4000],
              'total' : a})

In [48]:
B

          gildong   toto  apple  catanddog  total
date
20191005     1000   2000   4000       7000  14000
20191006    14000  12000   5000       5000  36000
20191007     3000   5600   6000       3000  17600
20191008     3000   3000   5500       5000  16500
20191009     1000   1200   4500       4000  10700

In [0]:
## total 제작

A['total'] = A.sum(axis=1)

In [98]:
A

   gildong   toto  apple  catanddog  total
0     1000   2000   4000       7000  14000
1    14000  12000   5000       5000  36000
2     3000   5600   6000       3000  17600
3     3000   3000   5500       5000  16500
4     1000   1200   4500       4000  10700

In [53]:
## 행열 접근

# A[행, 열]
A[0:3] # 0,1,2, 행 선택

A.iloc[0:2, :] # 행 번호로 접근

          gildong   toto  apple  catanddog  total
date
20191005     1000   2000   4000       7000  14000
20191006    14000  12000   5000       5000  36000

In [55]:
## apple과 catanddog 선택

A.loc[:, ['apple', 'catanddog']]

          apple  catanddog
date
20191005   4000       7000
20191006   5000       5000
20191007   6000       3000
20191008   5500       5000
20191009   4500       4000

In [57]:
A.loc['20191006':'20191007',:] # 이름으로 접근

          gildong   toto  apple  catanddog  total
date
20191006    14000  12000   5000       5000  36000
20191007     3000   5600   6000       3000  17600

In [58]:
# total 제거

A.drop(['total'], axis=1)

          gildong   toto  apple  catanddog
date
20191005     1000   2000   4000       7000
20191006    14000  12000   5000       5000
20191007     3000   5600   6000       3000
20191008     3000   3000   5500       5000
20191009     1000   1200   4500       4000

In [76]:
A.drop([2,3], axis=0)

   gildong   toto  apple  catanddog  total
0     1000   2000   4000       7000  14000
1    14000  12000   5000       5000  36000
4     1000   1200   4500       4000  10700

In [0]:
date = ['19-05-01','19-05-02', '19-05-03', '19-05-04', '19-05-05']
df = DataFrame(df,
               index=date)

In [87]:
A.sort_values('total',ascending=False)

   gildong   toto  apple  catanddog  total
1    14000  12000   5000       5000  36000
2     3000   5600   6000       3000  17600
3     3000   3000   5500       5000  16500
0     1000   2000   4000       7000  14000
4     1000   1200   4500       4000  10700

In [0]:
date = ['19-05-01','19-05-02', '19-05-03', '19-05-04', '19-05-05']
df = DataFrame(A,
               index=date)

In [110]:
df

          gildong   toto  apple  catanddog
19-05-01     1000   2000   4000       7000
19-05-02    14000  12000   5000       5000
19-05-03     3000   5600   6000       3000
19-05-04     3000   3000   5500       5000
19-05-05     1000   1200   4500       4000